/* header.styles.scss */

.header {
  background-color: #007bff;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
}

.username {
  font-size: 16px;
  margin-right: 10px;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.logout-button:hover {
  text-decoration: underline;
}
